mule/mule-tools/src/main/resources/META-INF/mule-tools.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.integrationcocktail.org/schema/mule/tools"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mule="http://www.mulesoft.org/schema/mule/core"
	xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
	targetNamespace="http://www.integrationcocktail.org/schema/mule/tools"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
		schemaLocation="http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd" />
	<xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc"
		schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.2/mule-schemadoc.xsd" />

	<xsd:annotation>
		<xsd:documentation>Integration Cocktail Mule tools adds a number of
			useful extensions to Mule
		</xsd:documentation>
		<xsd:appinfo>
			<schemadoc:short-name>Integration Cocktail Mule Tools
			</schemadoc:short-name>
			<schemadoc:page-title>Integration Cocktail Mule Tools
			</schemadoc:page-title>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element name="flow-controller" type="flowControllerType"
		substitutionGroup="mule:abstract-message-processor">
	</xsd:element>
	<xsd:complexType name="flowControllerType">
		<xsd:complexContent>
			<xsd:extension base="mule:abstractMessageProcessorType">
				<xsd:attribute name="flowName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>
							The name of the flow (or object which
							implements Lifecycle or Service) to control
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="action" use="optional" default="PAUSE">
					<xsd:annotation>
						<xsd:documentation>
							The action to be performed.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="START" />
							<xsd:enumeration value="STOP" />
							<xsd:enumeration value="PAUSE" />
							<xsd:enumeration value="RESUME" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


</xsd:schema>
